@charset "utf-8";
@import url(./default.css);

/*
  ---------------------------------------------------------------
   P_BLOG CSS TEMPLATE "Sun Flower"

   @since  2005-06-26 19:22:47
   @modify 2005-07-26 16:13:25
  ---------------------------------------------------------------
*/

#header h1, #validators a:link, #validators a:visited {
    background: transparent url(../_shared/trans_bg_black.png);
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}